body {
    background-color: white;
}
nav.upper-bar{
   font-size: 14px;
   float:right;
}
a.upper-bar-item{
    margin-right: 15px;
    color: black;
    text-decoration: none;

}
a.New-profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#Image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;

}
.box{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.Search{
    border: 2px solid rgb(231, 225, 225);
    border-radius: 40px;
    background: white;
}
form{
    margin: 0;
}
input{
    border: none;
    padding: 5px 5px ;
    font-size: 20px;
    outline: none;
    color: black;

}
button{
    background: transparent;
    border: none;
}
#Search-Buttons{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.button{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 5px;
    cursor: pointer;
    background: rgb(249, 246, 246);
}
#Nepal{
    text-align: center;

}


